# This is Git's per-user configuration file.
[user]
    name = koleq(DEVICE)
	email = 
[alias]
    loga = log --oneline --graph --all
    log = log --oneline --graph
    lo = log --oneline
    staged = diff --cached
    stagedf = diff --cached --stat
    unstaged = diff
    unstagedf = diff --stat
